.motreserver{
    color: blue;
}
.fonct{
    color: red;

}
.tab{
    margin: 25px;
}
.vn{
    color: green;
}

.ifelse{

    color: purple;
}
h1,h2{
    background-color: black;
    color: white;
}